public/videocall_original.js
public/videocall_refactor.js
public/bundle.*
server/config/config.js
node_modules
# db/config.js
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
