public/bundle.*
server/config/config.js
server/config/facebookAuth.js
node_modules
# db/config.js
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
