.ql-toolbar,
.ql-snow,
#editor {
  width: 50vw;
}

.video-and-chat{
	width: 30%;
	float: right;
  margin-left: 70%
}

.chat-views {
  position: fixed;
  z-index: 10;
  top: 40%;
}

.call-views {
  position: fixed;
  z-index: 10;
  top: 25%;
  display: none;
  background-color: #f4fdff; 
  border: 3px solid #f4fafe;
  border-radius: 5em;
  padding: 1em;
}

img.call-icon{
  height: 75px;
  width: 75px;
  display: inline-block;
}

.call-message {
  display: block;
}
#acceptIcon {
  margin-left: 40%;
}
#rejectIcon {
  margin-left: 10%;
}

.vid-alerts {
  display: none;
}

.vid-box {
  background-color: #888;
  border-radius: 5em !important;
  height: auto;
  position: relative;
  width: 100%;
  height: 300px;
  resize: both !important;
  display: none;
}

.video-element {  
  border-radius: 5em 5em 0 0;
  position: relative;
  width: 100%;
  height: 90%;
  display: inline-block;
}

.player-button-row {
  position: relative;
  height: 10%;
  margin-left: 5%;
  width: 90%;
  border-radius: 0 0 5em 5em;

}

.button-box button {
  position: relative;
  width: 100%;
  text-align: center;
}

.button-box {
  display: inline-block;
  width: 50%;
}

.left-bottom-curve {
  border-radius: 0 0 0 5em;

}
.right-bottom-curve {
  border-radius: 0 0 5em 0;
}

.call-alerts {
  height: 200%;
  width: 200%
}
.call-alerts-incoming {
  display: none;
}
.call-alerts-outgoing {
  display: none;
  display: inline-block;
}



div.nav-bar-buttons{
  margin-left: 80%;
  height: auto;
  width: 20%;
  display: block;
  padding: .2em;
}

div.nav-bar-buttons * {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-left: 20%;
}


div.nav-bar-buttons button {
  margin-left: 0%;
  border-radius: 5px;
}

div.nav-bar-buttons a {
}


.NavBar {
  height: 5vw;
  width: 100vw;
  background-color: #f4fdff;
}

.NavBarContainer {
  position: relative;
}

.logout {
  position: absolute;
  right: 1vw;
  transform: translate(-50%, -50%);
/*  display: inline-block;*/
}

.btn-info {
  border-radius: 5px;
  position: absolute;
  right: 4vw;
  transform: translate(-50%, -50%);
/*  display: inline-block;*/
}

.userCircles {
  width: 30vw;
  position: absolute;
/*  float: right;*/
/*  position: center;*/
  height: 40px;
  left: 30vw;
  display: inline-block;
}

.userCircle {
  height: 50px;
  width: 50px;
  background-color: #F1F0F0;
  border-radius: 50%;
  margin: 4px;
  float: right;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.icon-spin {
  /* Firefox */
  -moz-animation-name: spinIcon;
  -moz-animation-iteration-count: 10;
  -moz-animation-timing-function: ease;
  -moz-animation-duration: 5s;

  /* WebKit */
  -webkit-animation-name: spinIcon;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 5s;

  /* Opera */
  -o-animation-name: spinIcon;
  -o-animation-iteration-count: 10;
  -o-animation-timing-function: ease;
  -o-animation-duration: 5s;

  /* Standard */
  animation-name: spinIcon;
  animation-iteration-count: 10;
  animation-timing-function: ease;
  animation-duration: 5s;
}

@-moz-keyframes spinIcon {
  0% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spinIcon {
  0% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-o-keyframes spinIcon {
  0% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spinIcon {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}



