.ql-toolbar,
.ql-snow,
#editor {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.video-and-chat{
	width: 30%;
	float: right;
  margin-left: 70%
}

.chat-views {
  position: fixed;
  z-index: 10;
  top: 40%;
}

.call-views {
  position: fixed;
  z-index: 10;
  top: 25%;
  display: none;
  background-color: #f4fdff; 
  border: 3px solid #f4fafe;
  border-radius: 5em;
  padding: 1em;

}
img.call-icon{
  height: 50px;
  width: 50px;
  display: inline-block;
}
#acceptIcon {
  margin-left: 40%;
}
#rejectIcon {
  margin-left: 10%;
}

.vid-alerts {
  display: none;
}

.vid-box {
  background-color: #888;
  border-radius: 5em !important;
  height: auto;
  position: relative;
  width: 100%;
  height: 300px;
  resize: both !important;
  display: none;
}

.video-element {  
  border-radius: 5em 5em 0 0;
  position: relative;
  width: 100%;
  height: 90%;
  display: inline-block;
}

.player-button-row {
  position: relative;
  height: 10%;
  margin-left: 5%;
  width: 90%;
  border-radius: 0 0 5em 5em;

}

.button-box button {
  position: relative;
  width: 100%;
  text-align: center;
}

.button-box {
  display: inline-block;
  width: 50%;
}

.left-bottom-curve {
  border-radius: 0 0 0 5em;

}
.right-bottom-curve {
  border-radius: 0 0 5em 0;
}

.call-alerts-incoming {
  display: none;
}
.call-alerts-outgoing {
  display: none;
  display: inline-block;
}



div.nav-bar-buttons{
  margin-left: 70%;
  height: auto;
  width: 30%;
  display: block;
  padding: .2em;
}

div.nav-bar-buttons * {
  position: relative;
  display: inline-block;
  width: 25%;
  margin-left: 12.5%;
}

div.nav-bar-buttons img {
  margin-left: 0%;
}

div.nav-bar-buttons button {
  border-radius: 5px;
}

div.nav-bar-buttons a {
}


.NavBar {
  height: 5vw;
  width: 100vw;
  background-color: #f4fdff;
}

.NavBarContainer {
  position: relative;
}

.logout {
  position: absolute;
  right: 1vw;
  transform: translate(-50%, -50%);
/*  display: inline-block;*/
}

.btn-info {
  border-radius: 5px;
  position: absolute;
  right: 4vw;
  transform: translate(-50%, -50%);
/*  display: inline-block;*/
}

.userCircles {
  width: 30vw;
  position: absolute;
/*  float: right;*/
/*  position: center;*/
  height: 40px;
  left: 30vw;
  display: inline-block;
}

.userCircle {
  height: 50px;
  width: 50px;
  background-color: #F1F0F0;
  border-radius: 50%;
  margin: 4px;
  float: right;
  display: inline-block;
  transform: translate(-50%, -50%);
}