
/* NAVBAR */
.navbar-container {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  width: 100%;
  background-color: #f4fdff;
  float: right;
/*  vertical-align: middle;*/
}

.navbar-title {
  font-size: 36;
  font-family: arial;
  margin-left: 20px;
  margin-top: 14px;
}

.navbar-right {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  height: 60px;
}

.chathead-container {
  display: inline-block;
  vertical-align: top;
  margin-top: -10px;
  margin-right: 30px;
}

.chathead-list {
  display: inline-block;
  vertical-align: top;
}

.chathead-list li {
  vertical-align: top;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #F1F0F0;
  list-style-type: none;
  text-align: center;
  margin-right: 4px;
/*  vertical-align: middle;*/
}

.chathead-initials {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-top: 16px;
  font-family: arial;
}

.navbar-button-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.navbar-button-container * {
  display: inline-block;
  margin-right: 14px;
}

.call-button {
  vertical-align: middle;
}

.navbar-button-container ul {
  display: inline-block;
  float: right;
}

.navbar-button-container li {
  display: inline-block;
  margin: 10px;
  list-style-type: none;

}

.navbar-button-container button {

}

.navbar-button-container a {

}

.navbar-button-container img {
  width: 50px;
  height: 50px;
}


/* VIDEO */

.ql-toolbar,
.ql-snow,
#editor {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.video-and-chat{
	width: 30%;
	float: right;
  margin-left: 70%
}

.chat-views {
  position: fixed;
  z-index: 10;
  top: 40%;
}

.call-views {
  margin-left: 80%;
  height: auto;
  width: auto;
  padding: 1em;  
  position: fixed;
  background-color: #f4fdff; 
  border: 3px solid #f4fafe;
  border-radius: 5em;
  z-index: 10;
  top: 25%;
  display: none;
}

img.call-icon{
  height: 75px;
  width: 75px;
  display: inline-block;
}

.call-message {
  display: block;
}

#acceptIcon {
}
#rejectIcon {
  margin-left: 10%;
}

.vid-alerts {
  display: none;
}

.vid-box {
  background-color: #888;
  border-radius: 5em !important;
  height: auto;
  position: relative;
  width: 100%;
  height: 300px;
  resize: both !important;
  display: none;
}

.video-element {  
  border-radius: 5em 5em 0 0;
  position: relative;
  width: 100%;
  height: 90%;
  display: inline-block;
}

.player-button-row {
  position: relative;
  height: 10%;
  margin-left: 5%;
  width: 90%;
  border-radius: 0 0 5em 5em;
}

.button-box {
  display: block;
  margin-left: 25%;
  width: 50%;
}

.button-box img {
  top: -35px;
  position: relative;
  margin-left: 25%;
  width: 50%;
  text-align: center;
}

.call-alerts {
  height: 100%;
}
.call-alerts-outgoing {
  display: inline-block;
}
.call-incoming-notifications, 
.call-incoming-options,
.call-alerts-incoming {
  display: none;
}

.call-alerts-outgoing{
  display: inline-block;
}

.call-alerts-incoming, 
.call-alerts-outgoing {
  width: 100%;
}

.call-incoming-notifications, 
.call-incoming-options {
  width: 50%;
  height: 100%;
}

.call-incoming-notifications span,
.call-incoming-options div {
  position: relative;
  display: block;
  width: 100%;
  height: 2em;
  margin: 1em;
  text-align: center;
}

.call-mini-icon{
  position: relative;
  width: 33%;
}


.icon-spin {
  /* Firefox */
  -moz-animation-name: spinIcon;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;
  -moz-animation-duration: 5s;

  /* WebKit */
  -webkit-animation-name: spinIcon;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 5s;

  /* Opera */
  -o-animation-name: spinIcon;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease;
  -o-animation-duration: 5s;

  /* Standard */
  animation-name: spinIcon;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 5s;
}

@-moz-keyframes spinIcon {
  0% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spinIcon {
  0% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-o-keyframes spinIcon {
  0% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spinIcon {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.icon-flash {

  /* Firefox */
  -moz-animation-name: flashIcon;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;
  -moz-animation-duration: 1s;

  /* WebKit */
  -webkit-animation-name: flashIcon;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 1s;

  /* Opera */
  -o-animation-name: flashIcon;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease;
  -o-animation-duration: 1s;

  /* Standard */
  animation-name: flashIcon;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@-moz-keyframes flashIcon {
  0% {
    opacity: .75;
    -moz-transform: scale(1) rotate(85deg);    
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.15) rotate(95deg);  
  }
  100% {
    opacity: .75;
    -moz-transform: scale(1) rotate(85deg);  
  }
}
@-webkit-keyframes flashIcon {
  0% {
    opacity: .75;
    -webkit-transform: scale(1) rotate(85deg);  
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.15) rotate(95deg);  
  }
  100% {
    opacity: .75;
    -webkit-transform: scale(1) rotate(85deg);  
  }
}
@-o-keyframes flashIcon {
  0% {
    opacity: .75;
    -o-transform: scale(1);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.15);
  }
  100% {
    opacity: .75;
    -o-transform: scale(1);
  }
}
@keyframes flashIcon {
  0% {
    opacity: .75;
    transform: scale(1) rotate(85deg);  
  }
  50% {
    opacity: 1;
    transform: scale(1.15) rotate(95deg);  
  }
  100% {
    opacity: .75;
    transform: scale(1) rotate(85deg);  
  }
}

#newdoc {
  margin-top:50px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COMMENTS */
.comment-area-container {
  width: 20vw;
  height: 1000px;
  position: absolute;
  top: 206px;
  right: 0px;
  background: white;
  border: none;
}

.comment-container {
  font-family: arial;
}

.comment {
  position: absolute;
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background: #f4fdff;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: gray;
}

.comment-chathead {
  position: absolute;
  vertical-align: top;
  display: inline-block;
  height: 25px !important;
  width: 25px;
  border-radius: 50%;
  background: #F1F0F0;
  list-style-type: none;
  text-align: center;
  margin-left: 12px;
  margin-top: 12px;
}

.comment-chathead li {
  list-style-type: none;
}

.comment-initials {
  position: absolute;
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  right: 2px;
  margin-top: 5px;
  font-size: 13px;
  font-family: arial;
}

.comment-placeholder {
  position: absolute;
  font-size: 13;
  color: lightgray;
  margin-left: 18px;
  margin-top: 6px;
  vertical-align: middle;
  width: 100px;
}

.comment-input {
  position: absolute;
  margin-left: 18px;
  margin-top: -2px;
  width: 200px;
  height: 30px;
  font-size: 13px;
  background: transparent;
  border: none;
}

.entry-links-container {
  position: absolute;
  top: 30px;
  left: 30px;
}

.entry-links-container * {
  margin-right: 10px;
  font-size: 12px;
}

.comment-saved-container {
  font-family: arial;
}

.comment-saved {
  position: absolute;
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background: #f4fdff;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: gray;
}

.comment-saved-chathead {
  position: absolute;
  vertical-align: top;
  display: inline-block;
  height: 25px !important;
  width: 25px;
  border-radius: 50%;
  background: #F1F0F0;
  list-style-type: none;
  text-align: center;
  margin-left: 12px;
  margin-top: 12px;
}

.comment-saved-initials {
  position: absolute;
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  right: 2px;
  margin-top: 5px;
  font-size: 13px;
  font-family: arial;
}

.comment-saved-text {
  font-size: 14px;
}

.comment-test {
  background: blue;
  width: 200px;
  height: 50px;
}
